/* Colors */
[data-theme="purple"] {
  --color-cv-accent: #3E0097;      /* VividPurple */
  --color-cv-emphasis: #2E2E2E;    /* SlateGrey */
  --color-cv-heading: #3E0097;     /* VividPurple */
  --color-cv-heading-rule: #3E0097; /* VividPurple */
  --color-cv-subheading: #3E0097;  /* VividPurple */
  --color-cv-body: #666666;        /* LightGrey */
  --color-cv-name: #000000;        /* black */
  --color-cv-tagline: #3E0097;     /* VividPurple */
  --color-cv-icon: #3E0097;        /* Same as accent */
}

