/* Print styles */
@media print {
  @page {
    size: A4;
  }

  nav, button, .no-print {
    @apply hidden;
  }

  :root {
    --margin: 2rem;
    margin: calc(var(--margin) * 0.618) var(--margin);

    --font-size-base: calc(9pt);
    --web-page-margin: 0;
    --cv-content-padding-x: 0;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .cv-container {
    @apply flex flex-col;
  }

  .cv-main-column,
  .cv-side-column {
    @apply w-full;
  }

  .cv-section-columns {
    @apply flex flex-col;
  }
} 